<style>
    .csi-header .header-top {
        background: white;
        padding: .4rem 0 0;
    }

    .csi-banner-header .menu-onscroll {
    margin-top: 0;
    background: rgba(255,182,0,.95);
}

.csi-header .menu-onscroll .csi-navbar .csi-nav li .csi-btn {
    background: #442716;
    margin-top: .3rem;
    padding: .3rem 2.4rem;
    -moz-transition-duration: .6s;
    -webkit-transition-duration: .6s;
    -o-transition-duration: .6s;
    transition-duration: .6s;
    font-weight: 400;
    color:#ffb600;
}

.csi-header .csi-navbar .csi-nav li .csi-btn {
    font-family: Cookie,cursive;
    background: #ffb600;
    font-size: 2.6rem;
    line-height: 3.9000000000000004rem;
    margin-top: .3rem;
    padding: .3rem 2.4rem;
    -moz-transition-duration: .6s;
    -webkit-transition-duration: .6s;
    -o-transition-duration: .6s;
    transition-duration: .6s;
    color: #442716;
    opacity: 1;
    margin-left: 1rem;
    text-transform: capitalize;
    font-weight: 400!important;
    border: 2px solid #442716 !important;
}

.csi-header .csi-navbar .csi-nav .active a, .csi-header .csi-navbar .csi-nav li .csi-btn:hover {
    background: 0 0;
    color: #442716 !important;
}

.csi-header .csi-navbar .csi-nav li a:hover {
    background: 0 0;
    color: #442716;
    opacity: 1;
}
    
</style>

<header>
    <div id="csi-header" class="csi-header csi-banner-header">
        <div class="header-top">
            <div class="header-top-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="contact">
                                <ul class="list-inline">
                                    <li style="color:#442716"><i class="fa fa-clock-o" aria-hidden="true" style="color:#ffb600"></i> Horário de Funcionamento: DOM-QUIN 18h - 0h / SEX-SÁB 18h - 1h</li>
                                    <li style="color:#442716"><i class="fa fa-phone" aria-hidden="true" style="color:white"></i>Reservas: (62) 3921-0300 ou <a href="https://api.whatsapp.com/send?l=pt&phone=556296000397">(62) 99600-0397</a> </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="right-menu">
                                <ul class="list-inline">
                                    <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-facebook-f" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!--//.header-top-->
        <div class="csi-header-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <nav class="navbar navbar-default csi-navbar">
                            <div class="container">
                                <nav class="navbar navbar-default csi-navbar">
                                    <div class="csicontainer">
                                        <div class="navbar-header">
                                            <button type="button" class="navbar-toggle" data-toggle="collapse"
                                                    data-target=".navbar-collapse">
                                                <span class="sr-only">Toggle navigation</span>
                                                <span class="icon-bar"></span>
                                                <span class="icon-bar"></span>
                                                <span class="icon-bar"></span>
                                            </button>
                                            <div class="csi-logo">
                                                <a href="/">
                                                    <img src="logo-marrom.png" alt="Logo"/>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="collapse navbar-collapse">
                                            <ul class="nav navbar-nav csi-nav">
                                                
                                                <li><a class="csi-scroll" href="#csi-about-top">Quem Somos</a></li>
                                                <li><a class="csi-scroll" href="#csi-special">Nossos Burgers</a></li>
                                                <li><a class="csi-scroll" href="#csi-menu">Cardápio</a></li>
                                                <li><a class="csi-scroll" href="#csi-footer">Contato</a></li>
                                                <li><a class="csi-btn csi-scroll"  href="#csi-reservation">Peça Online!</a></li>
                                            </ul>
                                        </div>
                                        <!--/.nav-collapse -->
                                    </div>
                                </nav>
                            </div>
                            <!-- /.container -->
                        </nav>
                    </div>
                </div>
                <!--//.ROW-->
            </div>
            <!-- //.CONTAINER -->
        </div>
        <!-- //.INNER-->
    </div>
</header>
<!--HEADER END-->
