<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- The above 3 meta tags *must* come first in the head -->

    <!-- SITE TITLE -->
    <title>It's Burger</title>
    <meta name="description" content="Food, Restaurant & Cafe HTML Template" />
    <meta name="keywords" content="Food, Restaurant, Cafe, Responsive, HTML5" />
    <meta name="author" content="httpcoder.com" />

    <!-- twitter card starts from here, if you don't need remove this section -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@yourtwitterusername" />
    <meta name="twitter:creator" content="@yourtwitterusername" />
    <meta name="twitter:url" content="http://yourdomain.com" />
    <meta name="twitter:title" content="Your home page title, max 140 char" /> <!-- maximum 140 char -->
    <meta name="twitter:description" content="Your site description, maximum 140 char " /> <!-- maximum 140 char -->
    <meta name="twitter:image" content="assets/img/twittercardimg/twittercard-280-150.jpg" />  <!-- when you post this page url in twitter , this image will be shown -->
    <!-- twitter card ends from here -->

    <!-- facebook open graph starts from here, if you don't need then delete open graph related  -->
    <meta property="og:title" content="Your home page title" />
    <meta property="og:url" content="http://your domain here.com" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:site_name" content="Your site name here" />
    <!--meta property="fb:admins" content="" /-->  <!-- use this if you have  -->
    <meta property="og:type" content="website" />
    <meta property="og:image" content="assets/img/opengraph/fbphoto.jpg" /> <!-- when you post this page url in facebook , this image will be shown -->
    <!-- facebook open graph ends from here -->

    <!--  FAVICON AND TOUCH ICONS -->
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />  <!-- this icon shows in browser toolbar -->
    <link rel="icon" type="image/x-icon" href="favicon.ico" /> <!-- this icon shows in browser toolbar -->
    <link rel="apple-touch-icon" sizes="57x57" href="assets/img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="assets/img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="assets/img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="assets/img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="assets/img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="assets/img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="assets/img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="assets/img/favicon/manifest.json">

    <!-- BOOTSTRAP CSS -->
    <link rel="stylesheet" href="assets/libs/bootstrap/css/bootstrap.min.css" media="all" />

    <!-- FONT AWESOME -->
    <link rel="stylesheet" href="assets/libs/fontawesome/css/font-awesome.min.css" media="all" />


    <!-- GOOGLE FONT -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900%7cCookie"/>


    <!-- OWL CAROUSEL CSS -->
    <link rel="stylesheet" href="assets/libs/owlcarousel/owl.carousel.min.css" media="all" />
    <link rel="stylesheet" href="assets/libs/owlcarousel/owl.theme.default.min.css" media="all" />

    <!-- bootstrap datepicker -->
    <link rel="stylesheet" href="assets/libs/datepicker/bootstrap-datetimepicker.min.css" media="all"/>

    <!-- MASTER  STYLESHEET  -->
    <link id="csi-master-style" rel="stylesheet" href="assets/css/style-default.min.css" media="all" />

    <!-- MODERNIZER CSS  -->
    <script src="assets/js/vendor/modernizr-2.8.3.min.js"></script>

</head>
<style>
@font-face {
font-family: Thinking;
src: url(Thinking-Of-Betty.woff);
}

@font-face {
font-family: Aller;
src: url(aller-regular.woff);
}

.fonte{
        font-family:Thinking !important;
    }

    .csi-footer .csi-inner {
    background: #4e330170;
    padding-bottom: 0;
}

.csi-footer {
    background: url(/bgfooter-01.jpg) center center no-repeat;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    color: #fff;
}
.csi-footer .footer-top-area .single .title {
    font-family: Thinking;
    font-size: 28px !important;
    font-size: 4.2rem;
    font-weight: 400;
    margin-bottom: 2.6rem;
    color: #ffb600;
    letter-spacing: .08rem;
    opacity: .9;
}

.csi-footer .footer-top-area .single p {
    color: white;
}

.csi-footer .footer-top-area .footer-social li a {
    background: #442716;
    display: inline-block;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    -moz-transition-duration: .6s;
    -webkit-transition-duration: .6s;
    -o-transition-duration: .6s;
    transition-duration: .6s;
}

.csi-footer .csi-footer-bottom {
    font-family: Lato,sans-serif;
    padding: 2.6rem 0;
    background: #442716;
    margin-top: 11rem;
}
</style>

<body class="home">

<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<div class="csi-container ">
    <!-- ***  ADD YOUR SITE CONTENT HERE *** -->


{{>bsnavbar}}


{{{body}}}

<footer>
    <div id="csi-footer" class="csi-footer">
        <div class="csi-inner">
            <div class="footer-top-area">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="footer-top">
                                <a class="footer-logo" href="index.html"><img src="/logos-01.png" alt="logo" style="width:200px;height:auto"/></a>
                            </div>
                        </div>
                    </div><!--//.ROW-->
                    <div class="row">
                        <div class="col-xs-12 col-sm-3">
                            <div class="single">
                                <h3 class="title fonte">Endereço</h3>
                                <p>345 Park Ave, San Jose, CA 95110, United States</p>
                                <p>info@yourdomain.com</p>
                            </div>
                        </div> <!--//.col-->
                        <div class="col-xs-12 col-sm-3">
                            <div class="single">
                                <h3 class="title">Faça sua Reserva</h3>
                                <p>Entre em contato e faça sua reserva para hoje!</p>
                                <p>WhatsApp: (62) 00000-0000</p>
                            </div>
                        </div> <!--//.col-->
                        <div class="col-xs-12 col-sm-3">
                            <div class="single">
                                <h3 class="title">Horário de Funcionamento</h3>
                                <p>Segunda - Sáb 11:30 - 22:00 </p>
                                <p>Dom 11:30 - 24:00</p>
                            </div>
                        </div> <!--//.col-->
                        <div class="col-xs-12 col-sm-3">
                            <div class="single">
                                <h3 class="title">Social Links</h3>
                                <ul class="list-inline footer-social">
                                    <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-facebook-f" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div> <!--//.col-->
                    </div> <!--//.main row-->
                </div><!-- //.CONTAINER -->
            </div>
            <div class="csi-footer-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <p style="color:white !important; font-size:20px">Designed By João Afonso Assumpção <a href="https://www.httpcoder.com/">(ROLLE)</a> | <i class="fa fa-copyright" aria-hidden="true"></i> 2018 Todos direitos reservados</p>
                        </div>
                    </div><!--//.ROW-->
                </div><!-- //.CONTAINER -->
            </div><!-- //.INNER-->
        </div>
    </div>
</footer>


</div> <!--//.csi SITE CONTAINER-->
<!-- *** ADD YOUR SITE SCRIPT HERE *** -->
<!-- JQUERY  -->
<script src="assets/js/vendor/jquery-1.12.4.min.js"></script>

<!-- BOOTSTRAP JS  -->
<script src="assets/libs/bootstrap/js/bootstrap.min.js"></script>

<!-- bootstrap date picker js with moment js -->
<script src="assets/libs/datepicker/moment-with-locales.min.js"></script>
<script src="assets/libs/datepicker/bootstrap-datetimepicker.min.js"></script>


<!-- SKILLS SCRIPT  -->
<script src="assets/libs/jquery.validate.js"></script>

<!-- if load google maps then load this api, change api key as it may expire for limit cross as this is provided with any theme -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY"></script>

<!-- CUSTOM GOOGLE MAP -->
<script type="text/javascript" src="assets/libs/gmap/jquery.googlemap.js"></script>

<!-- Owl Carousel  -->
<script src="assets/libs/owlcarousel/owl.carousel.min.js"></script>


<!-- tweetie feed js  -->
<script src="tweetie/tweetie.js"></script>

<!-- adding magnific popup js library -->
<script type="text/javascript" src="assets/libs/maginificpopup/jquery.magnific-popup.min.js"></script>

<!-- type js -->
<script src="assets/libs/typed/typed.min.js"></script>

<!-- SMOTH SCROLL -->
<script src="assets/libs/jquery.smooth-scroll.min.js"></script>
<script src="assets/libs/jquery.easing.min.js"></script>

<!-- Counter JS -->
<script src="assets/libs/waypoints.min.js"></script>
<script src="assets/libs/counterup/jquery.counterup.min.js"></script>

<!-- CUSTOM SCRIPT  -->
<script src="assets/js/custom.script.js"></script>


</body>
</html>
